{% extends "base.html" %}
{% block head %}
<div class="header">
    <h1><b>My Blog </b></h1>
    <p> Welcome to <span> {{name}} </span> Blog </p>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-img-top">
                <img src="../static/photos/haiting.jpg" alt="tortoise" style="height: 300px; width: 500px;">
                </div>
                <div class="card-title">
                    <h5>Tortoise looks for his buddy Nemo </h5>
                    <h6 class="card-subtitle mb-2 text-muted ">Will he ever find him <span > {{date.written}}</span></h6>
                    <div class="card-text">
                        <p>Pellentesque vitae elementum nulla. Quisque sit amet condimentum quam. Aenean eu turpis consectetur, convallis ex sit amet, pharetra elit. In aliquam, velit sed faucibus interdum, enim orci dictum libero, quis pretium erat magna ac metus.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
      
</div>

{% endblock %}